flows.json
[{"id":"4e8fc42a.739c1c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"65d66837.26e518","type":"mqtt in","z":"4e8fc42a.739c1c","name":"","topic":"pranav/topic1","qos":"2","datatype":"auto","broker":"744eb223.a17fec","x":200,"y":180,"wires":[["3d59d933.acdfd6"]]},{"id":"3d59d933.acdfd6","type":"debug","z":"4e8fc42a.739c1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":180,"wires":[]},{"id":"6da0a26d.42104c","type":"mqtt out","z":"4e8fc42a.739c1c","name":"","topic":"pranav/topic1","qos":"","retain":"","broker":"744eb223.a17fec","x":440,"y":320,"wires":[]},{"id":"b61ecfd5.dcf81","type":"inject","z":"4e8fc42a.739c1c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Hi Docker! ","payloadType":"str","x":230,"y":320,"wires":[["6da0a26d.42104c"]]},{"id":"744eb223.a17fec","type":"mqtt-broker","name":"Pranav","broker":"172.18.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
