flow.json
[{"id":"dd58db5c.293838","type":"mqtt in","z":"d80acaaf.64a1b8","name":"","topic":"pranav/topic1","qos":"2","datatype":"auto","broker":"fc26081b.e5dee8","x":370,"y":540,"wires":[["c7ca50e6.5e986"]]},{"id":"c7ca50e6.5e986","type":"switch","z":"d80acaaf.64a1b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"pranav","vt":"str"},{"t":"neq","v":"pranav","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":540,"wires":[["28cb926e.aa9f8e"],["b72d4a18.d73248"]]},{"id":"28cb926e.aa9f8e","type":"change","z":"d80acaaf.64a1b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Hi PRanav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":480,"wires":[["5620c514.cd680c"]]},{"id":"5620c514.cd680c","type":"mqtt out","z":"d80acaaf.64a1b8","name":"","topic":"pranav/topic2","qos":"","retain":"","broker":"fc26081b.e5dee8","x":1000,"y":500,"wires":[]},{"id":"b72d4a18.d73248","type":"change","z":"d80acaaf.64a1b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Put pranav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":580,"wires":[["a6e19960.c754b8"]]},{"id":"a6e19960.c754b8","type":"mqtt out","z":"d80acaaf.64a1b8","name":"","topic":"pranav/topic3","qos":"","retain":"","broker":"fc26081b.e5dee8","x":1000,"y":580,"wires":[]},{"id":"fc26081b.e5dee8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
