flow.json
[{"id":"dd58db5c.293838","type":"mqtt in","z":"b9601afe.491fe8","name":"","topic":"pranav/topic1","qos":"2","datatype":"auto","broker":"fc26081b.e5dee8","x":370,"y":540,"wires":[["44b23f3a.7b521","c7ca50e6.5e986"]]},{"id":"44b23f3a.7b521","type":"debug","z":"b9601afe.491fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":400,"wires":[]},{"id":"c7ca50e6.5e986","type":"switch","z":"b9601afe.491fe8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"hey","vt":"str"},{"t":"neq","v":"hey","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":540,"wires":[["28cb926e.aa9f8e"],["b72d4a18.d73248"]]},{"id":"28cb926e.aa9f8e","type":"change","z":"b9601afe.491fe8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Hi Updated","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":480,"wires":[["a91b646c.faa658","5620c514.cd680c"]]},{"id":"a91b646c.faa658","type":"debug","z":"b9601afe.491fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":400,"wires":[]},{"id":"5620c514.cd680c","type":"mqtt out","z":"b9601afe.491fe8","name":"","topic":"pranav/topic2","qos":"","retain":"","broker":"fc26081b.e5dee8","x":1000,"y":500,"wires":[]},{"id":"b72d4a18.d73248","type":"change","z":"b9601afe.491fe8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Put Hey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":580,"wires":[["a6e19960.c754b8"]]},{"id":"a6e19960.c754b8","type":"mqtt out","z":"b9601afe.491fe8","name":"","topic":"pranav/topic3","qos":"","retain":"","broker":"fc26081b.e5dee8","x":1000,"y":580,"wires":[]},{"id":"fc26081b.e5dee8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
