flow.json
[{"id":"86d522af.1468b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fdaf677c.240048","type":"inject","z":"86d522af.1468b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Pranav","payloadType":"str","x":240,"y":240,"wires":[["e92cf000.dfd12"]]},{"id":"e92cf000.dfd12","type":"function","z":"86d522af.1468b","name":"Thakkar","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":260,"wires":[["d9714d2f.43eb1"]]},{"id":"d9714d2f.43eb1","type":"debug","z":"86d522af.1468b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":220,"wires":[]}]
